Repository honeycombio/helm-charts, pull requests merged in 2023-10, with the labels that each got.

#299 maint: Adds HTTP headers example to values.yaml
  charts/network-agent/values.yaml
Labels: type: maintenance, chart: network agent

#300 maint: Bump agent version to v0.0.22-alpha
  charts/network-agent/Chart.yaml
  charts/network-agent/values.yaml
Labels: chart: network agent

#302 maint: Update and document Network Agent cluster privileges
  charts/network-agent/README.md
  charts/network-agent/templates/cluster_role.yaml
Labels: type: maintenance, chart: network agent

#303 maint: [network-agent] bump app to v0.0.23-alpha
  charts/network-agent/Chart.yaml
  charts/network-agent/values.yaml
Labels: chart: network agent

#304 rel: Prepare v0.0.3 of Honeycomb Network Agent
  charts/network-agent/CHANGELOG.md
  charts/network-agent/Chart.yaml
Labels: type: maintenance, no-changelog

#305 maint: [network-agent] update network agent to 0.0.24-alpha
  charts/network-agent/Chart.yaml
  charts/network-agent/README.md
  charts/network-agent/values.yaml
Labels: chart: network agent

#306 rel: [network-agent] prep v0.0.4
  charts/network-agent/CHANGELOG.md
  charts/network-agent/Chart.yaml
Labels: no-changelog, chart: network agent
